########### CORE PART OF THE TEMPLATE - START ###########
#parse("make/Os_objects.make.vm")
########### CORE PART OF THE TEMPLATE - END #############
########### TARGET PART OF THE TEMPLATE - START ###########
########### TARGET PART OF THE TEMPLATE - END ###########
endif
