<?xml version="1.0" ?>
<?eclipse version="3.2"?>
<plugin>
  <!-- Generator -->
  <extension
    id="NvM_TS_TxDxM6I17R0_Generator"
    point="dreisoft.tresos.generator.api.plugin.generator">
    <generator
      class="eb.tresos.nvm.generators.NvMGenerator"
      id="NvM_TS_TxDxM6I17R0_ModuleGen"
      moduleId="NvM_TS_TxDxM6I17R0">
    </generator>
  </extension>

  <extension id="NvMXPath_TS_TxDxM6I17R0"
    point="dreisoft.tresos.datamodel2.api.plugin.xpathregistration">
    <xpathfunction>
      <classregistration
        class="eb.tresos.nvm.xpath.XPathFunctions"
              description="xpath functions to verify configurations"
              namespace="asc_NvM"/>
    </xpathfunction>
  </extension>

</plugin>
