########### CORE PART OF THE TEMPLATE - START ###########
#parse("include/Mk_gen_config.h.vm")
########### CORE PART OF THE TEMPLATE - END #############
########### TARGET PART OF THE TEMPLATE - START ###########
########### Arch specific velocimacros that can be called from the common code parts ###########
#macro( VM_ArchOsConfigIncludeFiles )
#end
#macro( VM_ArchOsConfigDataInit )
#end
#macro( VM_ArchOsConfigInterruptInit )
#end
#macro( VM_ArchOsConfigTimestampInit )
#end

#ifdef __cplusplus
}
#endif
#endif  /* MK_GEN_CONFIG_H */
