<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    
    <!--
        ** brief AUTOSAR MicroOs_TS_T16D27M2I0R0 plugin
        ** project AUTOSAR Standard Core
        **
        ** All rights exclusively reserved for Elektrobit Automotive GmbH,
        ** unless expressly agreed to otherwise.
    -->
      <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="MicroOs_TS_T16D27M2I0R0_ModuleId"
             name="MicroOs_TS_T16D27M2I0R0 Module">
    <module id="MicroOs_TS_T16D27M2I0R0"
            label="MicroOs"
            mandatory="false"
            allowMultiple="false"
            description="ACM-SafetyOS: AUTOSAR MicroOs module"
            copyright="(c) 2005-2023 Elektrobit Automotive GmbH"
            swVersionMajor="2"
            swVersionMinor="0"
            swVersionPatch="232"
            swVersionSuffix="000"
            specVersionMajor="5"
            specVersionMinor="0"
            specVersionPatch="0"
            specVersionSuffix="0000"
            relVersionMajor="4"
            relVersionMinor="0"
            relVersionPatch="3"
            categoryType="MicroOs"
            categoryLayer="System Services"
            categoryCategory="OS/RTE"
            categoryComponent="ECUC">
      <ecuType target="TRICORE" derivate="TC38XQ"/>
      <cluster name="Basic Services"/>
<cluster name="OS/RTE"/>
    </module>
  </extension>

    
</plugin>
