#* *### Some common variables to be used in the template below
#* *##set( $newLine="
#* *#")
#* *##set( $OsConfig            = $OsModel.getOsConfig() )
#* *##set( $MkConfig            = $OsModel.getMkConfig() )
#* *##set( $mkPartitionManager  = $OsModel.getMkPartitionManager() )
#* *##set( $OsOptimize          = $OsModel.getOsOptimize() )
#* *##set( $Version             = $OsGenerator.getVersion() )
#* *##set( $AllApplicationsList = $OsModel.getAllApplications() )
#* *##set( $AllAppModesList     = $OsModel.getAllAppModes() )
#* *##set( $AllTasksList        = $OsModel.getAllTasks() )
#* *##set( $AllEventsList       = $OsModel.getAllEvents() )
#* *##set( $AllResourcesList    = $OsModel.getAllResources() )
#* *##set( $AllSpinlocksList    = $OsModel.getAllSpinlocks() )
#* *##set( $ResLockOptimizer    = $OsModel.getResourceLockOptimizer() )
#* *##set( $AllInterruptsList   = $OsModel.getAllInterrupts() )
#* *##set( $AllHwTimersList     = $OsModel.getAllHwTimers() )
#* *##set( $AllCountersList     = $OsModel.getAllCounters() )
#* *##set( $AllAlarmsList       = $OsModel.getAllAlarms() )
#* *##set( $AllScTablesList     = $OsModel.getAllScheduleTables() )
#* *##set( $AllRateMonitorsList = $OsModel.getAllRateMonitors() )
#* *##set( $IocCommsList        = $OsModel.getIocNGCommunication() )
#* *##set( $ArchProperties      = $OsModel.getArchProperties() )
