<?xml version="1.0" ?>
<?eclipse version="3.2"?>
<plugin>
  <!-- Generator -->
  <extension
    id="J1939Dcm_TS_TxDxM1I1R0_Generator"
    point="dreisoft.tresos.generator.api.plugin.generator">
    <generator
      class="eb.tresos.j1939dcm.generators.J1939DcmGenerator"
      id="J1939Dcm_TS_TxDxM1I1R0_ModuleGen"
      moduleId="J1939Dcm_TS_TxDxM1I1R0">
    </generator>
  </extension>
</plugin>
