<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <!--
     ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
     + Copyright (C) Elektrobit
     + All rights reserved
     +
     + NAME: plugin.xml
     +
     + $Id$
     ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  -->

	<extension point="dreisoft.tresos.generator.api.plugin.generator"
		id="ComM_TS_TxDxM5I21R0_GeneratorExt">
		<generator id="ComM_TS_TxDxM5I21R0_Generator"
			moduleId="ComM_TS_TxDxM5I21R0"
			class="com.elektrobit.comm.generator.ComMGenerator">
		</generator>
	</extension>

</plugin>
