<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <!--
    ** brief AutoCore J1939Dcm_TS_TxDxM1I1R0 plugin
    **
    ** All rights exclusively reserved for Elektrobit Automotive GmbH,
    ** unless expressly agreed to otherwise.
  -->
    <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="J1939Dcm_TS_TxDxM1I1R0_ModuleId"
             name="J1939Dcm_TS_TxDxM1I1R0 Module">
    <module id="J1939Dcm_TS_TxDxM1I1R0"
            label="J1939Dcm"
            mandatory="false"
            allowMultiple="false"
            description="ACG-J1939Stack: AUTOSAR J1939Dcm"
            copyright="(c) 2005-2024 Elektrobit Automotive GmbH"
            swVersionMajor="1"
            swVersionMinor="1"
            swVersionPatch="14"
            swVersionSuffix="B788439"
            specVersionMajor="4"
            specVersionMinor="2"
            specVersionPatch="2"
            specVersionSuffix="0"
            relVersionMajor="4"
            relVersionMinor="2"
            relVersionPatch="2"
            categoryType="J1939Dcm"
            categoryLayer="Diagnostic Services"
            categoryCategory="Diag"
            categoryComponent="ECUC">
      <cluster name="Diagnostic Communication Services"/>
    </module>
  </extension>

    <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="J1939Dcm_TS_TxDxM1I1R0_ConfigId"
             name="J1939Dcm_TS_TxDxM1I1R0 Configuration">
    <configuration moduleId="J1939Dcm_TS_TxDxM1I1R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/J1939Dcm.xdm" type="xdm" id="res_default"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_TxDxM1I1R0/J1939Dcm"/>
      </data>

      <editor id="J1939Dcm_TS_TxDxM1I1R0_EditorId"
              label="Default"
              tooltip="ACG-J1939Stack: AUTOSAR J1939Dcm">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_TxDxM1I1R0/J1939Dcm"/>
          <parameter name="title" value="J1939Dcm"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>


  
  
  	  <extension point="dreisoft.tresos.comimporter.api.plugin.comtransformer">
    <comtransformer
           id="ComTransformer_J1939Dcm_TS_TxDxM1I1R0"
           moduleId="J1939Dcm_TS_TxDxM1I1R0">
      <transformer
             class="dreisoft.tresos.comimporter.api.transformer.asr40.J1939DcmTransformer">
      </transformer>
    </comtransformer>
  </extension>


	
  
  
  	  <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="J1939Dcm_TS_TxDxM1I1R0_GeneratorId"
             name="J1939Dcm_TS_TxDxM1I1R0 Generator">
    <generator class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
               id="J1939Dcm_TS_TxDxM1I1R0_TemplateBasedCodeGeneratorId"
               moduleId="J1939Dcm_TS_TxDxM1I1R0">
      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate"/>

      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate"/>
      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>
      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>
    </generator>
  </extension>

	
  
  	  <extension point="dreisoft.tresos.autosar2.api.plugin.ecuresource">
    <ecuresource
      target="*"
      derivate="*"
      moduleId="J1939Dcm_TS_TxDxM1I1R0"
      file="resources/AdjacentLayer.properties">
    </ecuresource>
  </extension>

	

  <extension point="dreisoft.tresos.launcher2.plugin.generator"
              id="J1939Dcm_TS_TxDxM1I1R0_Gen_Template">
    <generator moduleId="J1939Dcm_TS_TxDxM1I1R0"
               id="J1939Dcm_TS_TxDxM1I1R0_Gen_TemplateId"
               modes="generate,Template_withPostRename,verify"
               class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator">
      <parameter name="mode_type" mode="Template_withPostRename" value="generate"/>

      <!-- common template path parameters -->
      <parameter name="templates" mode="generate,verify" value="generate_var,generate_macros"/>

      <!-- only having this parameter set to true, a generator is called once for each variant! -->
      <parameter name="variantAware" value="true"/>

    </generator>
  </extension>

  <!-- NGGenerator which calls a common ant-script within the ant-script it is also possible to call tresos Studio
       generators in the example-script, a single code-template file is generated with a custom file-name (depending
       on the variants name)
    -->
  <extension point="dreisoft.tresos.generator.api.plugin.generator"
    id="J1939Dcm_TS_TxDxM1I1R0_Gen_NG">
    <generator class="dreisoft.tresos.generator.ng.api.NGGenerator"
      id="J1939Dcm_TS_TxDxM1I1R0_Gen_NGId"
      moduleId="J1939Dcm_TS_TxDxM1I1R0"
      modes="generate,NG_PostfixAndMove"
      step="post">

      <!-- Specify the ant build script as parameter to the NGGenerator. -->
      <parameter name="buildfile" value="resources/generator.xml"/>

      <!-- only having this parameter set to true, a generator is called once for each variant! -->
      <parameter name="variantAware" value="true"/>
    </generator>
  </extension>
	<!-- handle id calculator for J1939DcmTxPduId -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="J1939DcmTxPduId_J1939Dcm_TS_TxDxM1I1R0"
    name="J1939Dcm/J1939DcmTxPduId"
    desc="">
        <operationclass class="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.SimpleHandleIdPushOperation">
            <parameter name="moduleId" value="J1939Dcm_TS_TxDxM1I1R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM1I1R0/ELEMENTS/J1939Dcm/J1939DcmConfigSet/J1939DcmConfigSet/J1939DcmNode/J1939DcmNode/J1939DcmDiagnosticMessageSupport/J1939DcmDiagnosticMessageSupport/J1939DcmTxPdu"/>
            <parameter name="idPath" value="J1939DcmTxPduId"/>
            <parameter name="zbcGroups" value="false"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.J1939Dcm_TS_TxDxM1I1R0">
                    <equals value="true"/>
                </with>
                <with variable="relVersion">
                    <equals value="4.2"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>

	<!-- handle id calculator for J1939DcmRxPduId -->
  <extension
    point="dreisoft.tresos.guidedconfig.api.plugin.pushservice">
    <pushoperation id="J1939DcmRxPduId_J1939Dcm_TS_TxDxM1I1R0"
    name="J1939Dcm/J1939DcmRxPduId"
    desc="">
        <operationclass class="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.SimpleHandleIdPushOperation">
            <parameter name="moduleId" value="J1939Dcm_TS_TxDxM1I1R0"/>
            <parameter name="listPath" value="/AUTOSAR/TOP-LEVEL-PACKAGES/TS_TxDxM1I1R0/ELEMENTS/J1939Dcm/J1939DcmConfigSet/J1939DcmConfigSet/J1939DcmNode/J1939DcmNode/J1939DcmDiagnosticMessageSupport/J1939DcmDiagnosticMessageSupport/J1939DcmRxPdu"/>
            <parameter name="idPath" value="J1939DcmRxPduId"/>
            <parameter name="zbcGroups" value="false"/>
        </operationclass>
        <event>
            <and>
                <with variable="class">
                    <equals value="dreisoft.tresos.guidedconfig.api.pushservice.operations.handleid.HandleIdEvent"/>
                </with>
                <with variable="moduleId.J1939Dcm_TS_TxDxM1I1R0">
                    <equals value="true"/>
                </with>
                <with variable="relVersion">
                    <equals value="4.2"/>
                </with>
            </and>
        </event>
    </pushoperation>
  </extension>
</plugin>