########### CORE PART OF THE TEMPLATE - START ###########
#parse("include/Mk_gen_config.h.vm")
########### CORE PART OF THE TEMPLATE - END #############
########### TARGET PART OF THE TEMPLATE - START ###########
########### Arch specific velocimacros that can be called from the common code parts ###########
#macro( VM_ArchOsConfigIncludeFiles )
#* *#\#include <private/Mk_accounting.h>
#end
##
##
#macro( VM_ArchOsConfigDataInit )
#end
##
##
#macro( VM_ArchOsConfigInterruptInit )
#end
##
##
#macro( VM_ArchOsConfigTimestampInit )
#end

/*===================================================================
 * Memory partitions for ARM64
 *==================================================================*/
#foreach( $coreId in $OsModel.getUsedCoreIds() )
## the trusted function thread's partition is set dynamically from the trusted functions' configurations
#* *#\#define MK_CFG_C${coreId}_TF_MEMPART             -1
#end

#ifdef __cplusplus
}
#endif
#endif  /* MK_GEN_CONFIG_H */
