<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!--
    AUTOSAR MemAcc_TS_TxDxM1I0R0 plugin
    Project: EB tresos AutoCore

    Copyright 2005-2024 by Elektrobit Automotive GmbH
    All rights exclusively reserved for Elektrobit Automotive GmbH,
    unless expressly agreed to otherwise.
  -->
  <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="MemAcc_TS_TxDxM1I0R0_ModuleId"
             name="MemAcc_TS_TxDxM1I0R0 Module">
    <module id="MemAcc_TS_TxDxM1I0R0"
            label="MemAcc"
            mandatory="false"
            allowMultiple="false"
            description="ACG-MemoryStack: AUTOSAR MemAcc module"
            copyright="(c) 2005-2024 Elektrobit Automotive GmbH"
            swVersionMajor="1"
            swVersionMinor="0"
            swVersionPatch="10"
            swVersionSuffix="B788439"
            specVersionMajor="4"
            specVersionMinor="7"
            specVersionPatch="0"
            specVersionSuffix="0000"
            relVersionMajor="4"
            relVersionMinor="7"
            relVersionPatch="0"
            categoryType="MemAcc"
            categoryLayer="Memory Services"
            categoryCategory="Memory"
            categoryComponent="ECUC">
      <cluster name="Memory Stack"/>
    </module>
  </extension>
  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="MemAcc_TS_TxDxM1I0R0_ConfigId"
             name="MemAcc_TS_TxDxM1I0R0 Configuration">
    <configuration moduleId="MemAcc_TS_TxDxM1I0R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/MemAcc.xdm" type="xdm" id="res_default"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/TS_TxDxM1I0R0/MemAcc"/>
      </data>

      <editor id="MemAcc_TS_TxDxM1I0R0_EditorId"
              label="Default"
              tooltip="ACG-MemoryStack: AUTOSAR MemAcc module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/TS_TxDxM1I0R0/MemAcc"/>
          <parameter name="title" value="MemAcc"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="MemAcc_TS_TxDxM1I0R0_GeneratorId"
             name="MemAcc_TS_TxDxM1I0R0 Generator">
    <generator class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
               id="MemAcc_TS_TxDxM1I0R0_TemplateBasedCodeGeneratorId"
               moduleId="MemAcc_TS_TxDxM1I0R0">
      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate"/>

      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate"/>
      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>
      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>
    </generator>
  </extension>

  <extension point="org.eclipse.help.toc">
    <toc file="anchors.xml" primary="true" />
    <toc file="$nl$/toc.xml" primary="false"/>
  </extension>

</plugin>

